---
import Layout from "../layouts/Layout.astro";
import nosotros from "../img/nosotros.jpg";
---

<Layout
  title="Nosotros"
  description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más"
>
  <main class="contenedor">
    <h1 class="heading">Nosotros</h1>
    <div class="contenido">
      <img src={nosotros} alt="Imagen sobre nosotros" />
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          voluptas expedita, provident ullam ipsa mollitia dolorum obcaecati, ex
          a molestiae numquam! Rerum error velit labore provident ipsum corrupti
          quaerat iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ratione
          esse fugiat nesciunt alias ducimus, ut eum doloremque, nostrum aut
          voluptate provident tempore dolorum placeat.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
          delectus assumenda nesciunt eius voluptatum perferendis quo
          consequatur id provident? Corporis quos quibusdam in hic dignissimos
          ab provident voluptas.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .contenido {
    display: grid;
    gap: 4rem;
  }
  @media (min-width: 768px) {
    .contenido {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
</style>
